.card {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	background-color: #f7f7f7;
	padding: 1.5rem;
	border-radius: 1rem;
}

.card__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card__body {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 0 1.5rem;
}

.gap {
	flex-grow: 1;
}

.right {
	display: flex;
	justify-content: flex-end;
}

.line {
	display: flex;
	gap: 1rem;
	justify-content: stretch;
}

.line > * {
	flex-grow: 1;
}

.ticketTypes {
	display: grid;
	grid-template-columns: auto auto auto 1fr;
	gap: 0.5em 1.5em;
}
.ticketTypes > div {
	display: flex;
	align-items: center;
	white-space-collapse: preserve;
}