.root {
	min-height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: max-content auto;
}

.body {
	min-height: 0;
}

.body_centered {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
