.center {
	text-align: center;
}

.right {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
	width: 100%;
	max-width: 820px;
}

.table {
	max-width: 100%;
	min-width: 40rem;
}

.table td {
	word-break: break-all;
}
