.event {
	background-color: #eee;
	padding: 0.5em;
	border-radius: 0.3em;
}

.title {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}
.title > * {
	display: flex;
	align-items: center;
	gap: 8px;
}

.activeMark {
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 0.2rem;
}

.toggle {
	width: 1em;
	text-align: center;
	border-radius: 0.2em;
	background-color: #ddd;
	user-select: none;
}
.toggle::before {
	content: ">";
	display: block;
}
.toggleInp:checked ~ * .toggle::before {
	transform: rotate(90deg);
}
.toggleInp {
	position: fixed;
	pointer-events: none;
	opacity: 0;
}

.eventInfo {
	display: none;
	margin-top: 1em;
	flex-direction: column;
	gap: 8px;
}
.toggleInp:checked ~ .eventInfo {
	display: flex;
}

.access {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}
.access > * {
	flex: 1;
	display: flex;
	gap: 0.5em;
}
