.scanner {
	position: relative;
	height: calc(100% - 11.5rem);
	max-height: calc(100% - 11.5rem);
	background-color: #eee;
	border-bottom: 1px solid black;
}

.scanner_scanned::after {
	content: "";
	position: absolute;
	inset: 0;
	background: repeating-linear-gradient(45deg, #00000044 0, #00000055 50px, #00000044 100px);
	background-size: 425px;
	animation: scanned_anim 2s linear infinite;
}

@keyframes scanned_anim {
	from {
		background-position-x: 0px;
	}
	to {
		background-position-x: 145px;
	}
}

.scanResult {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	padding-top: 0.5rem;
}

.big {
	font-size: 1.5rem;
}

.success {
	color: limegreen;
}

.result_desc {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.error {
	color: tomato;
}