.root {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.canvas {
	width: calc(100vw - 4em);
	height: calc(100vh - 14em);
}
.canvas canvas {
	border-radius: 0.5em;
	user-select: none;
}

.panel {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.panel .br {
	flex-grow: 1;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer > * {
	display: flex;
	align-items: center;
	gap: 0.5em;
}
