.root {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.canvas {
	width: calc(100vw - 4em);
	height: calc(100vh - 14em);
	position: relative;
}
.canvas canvas {
	border-radius: 0.5em;
	user-select: none;
}

.inspector {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #ffffffaa;
	padding: 1em;
	border-radius: 0 0.5em 0 0.5em;
	display: none;
	flex-direction: column;
	gap: 0.5em;
}
.inspector_open {
	display: flex;
}
.fields {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.1em 0.4em;
}
.fields label {
	display: flex;
	flex-direction: column;
}
.fields input {
	width: 5em;
}
.colorInput {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.panel {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.panel .br {
	flex-grow: 1;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer > * {
	display: flex;
	align-items: center;
	gap: 0.5em;
}
