* {
	box-sizing: border-box;
	font-family: "PT Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration-skip-ink: none;
}

pre, code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.root {
	min-height: 100vh;
	min-height: 100dvh;
	display: flex;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
h1 {
	text-align: center;
}

a {
	color: blue;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a.button {
	color: black;
}

.button {
	--c-n: #eee;
	--c-h: #ddd;
	--c-a: #f7f7f7;
	font-size: 1rem;
	text-align: center;
	background-color: var(--c-n);
	padding: 0.5em 1em;
	border-radius: 0.25em;
	border: none;
	cursor: pointer;
}
.button:not(:disabled):hover, .button:not(:disabled):focus-visible {
	background-color: var(--c-h);
	text-decoration: none;
}
.button:not(:disabled):active {
	background-color: var(--c-a);
}
.button:disabled {
	cursor: default;
}

.button_light {
	--c-n: #fbfbfb;
	--c-h: #ddd;
	--c-a: #f7f7f7;
}
.button_danger {
	--c-n: #ffcccc;
	--c-h: #ffb3b3;
	--c-a: #ffe5e5;
}
.button_large {
	font-size: 1.5rem;
}
.button_small {
	font-size: 0.85rem;
	padding: 0.2em 0.5em;
}