.root {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.3);
	align-items: center;
	justify-content: center;
	display: none;
}
.open {
	display: flex;
}

.popup {
	background-color: #fff;
	padding: 1rem;
	border-radius: 0.5rem;
	max-height: 100dvh;
	max-width: 100dvw;
	display: flex;
	flex-direction: column;
}

.header {
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-between;
}

.close {
	background-color: #eee;
	border: none;
	border-radius: 0.25rem;
	color: tomato;
	font-size: 1rem;
	width: 1.5rem;
	height: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.body {
	overflow: auto;
}