.user {
	background-color: #eee;
	padding: 0.5em;
	border-radius: 0.3em;
}

.title {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}
.title > * {
	display: flex;
	gap: 8px;
}

.toggle {
	width: 1em;
	text-align: center;
	border-radius: 0.2em;
	background-color: #ddd;
	user-select: none;
}
.toggle::before {
	content: ">";
	display: block;
}
.toggleInp:checked ~ * .toggle::before {
	transform: rotate(90deg);
}
.toggleInp {
	position: fixed;
	pointer-events: none;
	opacity: 0;
}

.userInfo {
	display: none;
	margin-top: 1em;
}
.toggleInp:checked ~ .userInfo {
	display: block;
}

.operations {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em 1em;
}
.operations > * {
	flex: 1;
}
.operations::after {
	content: "";
	flex-grow: 10000000;
}