name: Deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '14.x'
    - name: Upgrade NPM
      run: npm install -g npm
    - name: Build
      run: |
        cd frontend
        npm ci
        npm run build
    - name: Move build to backend
      run: |
        mv frontend/build backend/
        npm ci
        npm run build
    - name: Deploy with gh-pages
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        folder: backend
